body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-shadow: 2px 0px 1px  rgba(0, 0, 0, 0.15) ;
    &__logo {
    position: relative;
    }
} 