.localisation{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #eaeaea;
    padding: 20px;
    &__icone{
        color:#353535 ;
        margin-right: 10px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        color: #353535;
        margin: 0px;
    }
}
.apropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__titre{
        font-size: 24px;
        text-align: center;    
    }
    &__soustitre{
        font-size: 18px;
        font-weight: 300;
        color: #353535;
        text-align: center;
    }
}