.loader{
    background-color: #FFFFFF;
    opacity: 0.7;
    position: fixed;
    inset: 0px;
    z-index: 1;
    animation-name: disparu;
    animation-duration: 200ms;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    &__cercle{
   border: 10px solid #f3f3f3; 
   border-bottom:10px solid #9356DC;
   border-top: 10px solid #9356DC;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   margin: auto;
   inset: 0;
   position: absolute;
   animation: spin linear infinite ;
   animation-duration: 3s;
   } 
}
@keyframes disparu{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.localisation{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #eaeaea;
    padding: 20px;
    &__icone{
        color:#353535 ;
        margin-right: 10px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        color: #353535;
        margin: 0px;
    }
}
.apropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color:#F6F6F6 ;
    &__titre{
        font-size: 24px;
        font-weight: 700;
        text-align: center;  
        padding-left: 60px;
        padding-right: 60px; 
        margin:auto; 
    }
    &__soustitre{
        font-size: 18px;
        font-weight: 300;
        color: #353535;
        text-align: center;
    }
    &__btn{
        @include button;
        &--texte{
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #FFFFFF;
            margin-right: 5px;
            margin-left: 5px;
        }   
    }
    
}
.Fonctionnement{
    display: flex;
    flex-direction: column;
    margin:auto;
    &__titre{ 
        font-size: 24px;
        font-weight:700;
        @media (min-width:786px){
            padding-left: 90px;
        }    
    }
    &__listes{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px;
        margin: 0px;
        list-style: none;
        counter-reset: compteListe;
        @media (min-width:786px){
            display: flex; 
            flex-direction: row; 
            justify-content: center;
           }
    }
    &__liste{
        display: flex;
        padding:10px;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius:20px;
        background-color: #f6f6f6;
        position: relative;
        @media (min-width:786px){
            width: 25%;
        }
       
    }
    &__texte{
        font-size: 16px;
        font-weight: 500;
        padding: 15px;
    }
    &__icone{
        margin: 15px;
        color:#7E7E7E ;
    }
    &__number{
        background-color: #9356DC;
        color: #FFFFFF;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -11px;
    }

}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    @media (min-width:786px){
        padding: 40px;
    }
}
#purple{
    color:#9356DC ;
}
.restaurant{
    margin-top:40px;
    background-color:#F6F6F6 ;
    &__titre{
        font-size: 24px;
        font-weight: 700;
        padding-left:20px ;
        padding-top: 20px;
        @media (min-width:1024px){
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__cartes{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    @media (min-width:768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width:1024px) {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;    
    }
    }
}
.cartes{
    display: flex;
    flex-direction: column;
    position: relative;
}
.carte{
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    &__img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
    &__badge{
        font-size: 14px;
        font-weight:500;
        text-align: center;
        border-radius: 2px;
        background-color: #99E2D0;
        color: #008766;
        padding: 5px;
        position: absolute;
        margin-top: 15px;
        right: 30px;
        @media (min-width:786px){
            font-size: 14px;
            font-weight:500;
            text-align: center;
            border-radius: 2px;
            background-color: #99E2D0;
            color: #008766;
            padding: 5px;
            position: absolute;
            margin-top: 15px;
            right: 30px;   
        } 
    }    
    &__contenu{
        padding: 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__titre{
        font-size: 18px;
        font-weight: 700;
        margin: 0px;
        color: black;
    }
    &__soustitre{
        font-size: 17px;
        font-weight: 300;
        color: black;
    }
    &__coeur{
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: transparent 0px solid;
        padding: 0;
        display:flex;
        align-items:center;
        justify-content:center;
        color: black;
    }
    &:active {
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.25);
    }
}

